.btn-model{
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.4em;
    text-align: center;
    background: $color-bgbtn;
    border-radius: 40px;
    border: none;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 15px 0 15px 0;
}

.accueil-btn{
    width: 220px;
}

.menu-btn{
    width: 180px;
}

