body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'roboto', 'Shrikhand', sans-serif;
        a{
        text-decoration: none;
        }
        img{
            object-fit: cover;
        }
}

