body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'roboto', 'shrikhand', sans-serif;
        a{
        text-decoration: none;
        }
        img{
            object-fit: cover;
        }
}

.header-container, .wrapper-content, .footer-container{
    max-width: 375px;
}
    




.logo-container{
    margin: 20px 0 10px 0;
    text-align: center;
}

.location-container{
    width: 100%;
    background-color: $color-bglocation;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 3px 3px 1px #bbbbbb;
    .fa-map-marker-alt{
        padding-right: 15px;
        margin-left: -50px;
    }
    .location-text{
        font-weight: 500;
    }
}

.accueil-container{
    width: 100%;
    background-color: $color-bgcontent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .accueil-title{
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-top: 30px;
    }
    .accueil-text{
        text-align: center;
        margin: 0 0 30px 0;
        font-size: 18px;
        font-weight: 300;
    }
    .accueil-btn{
        margin-bottom: 50px;
    }
}

/*-------------------Section-Fonctionnement--------------------*/

.fonctionnement-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 20px;
    .fonctionnement-title{
        font-weight: 600;
    }
    .fonctionnement-choose, .fonctionnement-compare, .fonctionnement-taste{
        width: 90%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding: 18px 0 10px 0;
        border-radius: 15px;
        background-color:  #f6f6f6;
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.10);
        font-size: 17px;
        .fa-mobile-alt{
            margin: -5px 0 0 -20px;
            padding-right: 20px;
            font-size: 22px;
            color: #7e7e7e;
        }
        .fa-list-ul{
            margin-left: -45px;
            padding-right: 16px;
            color: #7e7e7e;
            font-size: 20px;
        }
        .fa-store{
            margin-left: -38px;
            padding-right: 16px;
            color: #9356dc;
        }
        h2{
            font-size: 18px;
            font-weight: 500;
        }
        p{
            position: absolute;
            color: white;
            margin-left: -331px;
            border-radius: 50px;
            padding: 6px 9px 3px 9px;
            background-color: #9356dc;
            font-weight: 400;
            font-size: 14px;
        }
    }
    article:last-of-type{
        background-color: #f5edff;
    }
    
}

/*--------------------Section-Vignette-------------------------*/

.restaurant-container{
    width: 100%;
    background-color: $color-bgcontent;
    display: flex;
    flex-direction: column;
    padding: 20px 0 40px 0;
    margin-top: 25px;
    .restaurant-title{
        font-weight: 600;
        padding-left: 20px;
    }
    .restaurant-link{
        width: 335px;
        height: 250px;
        margin: 0 auto 15px auto;
    }
    .restaurant-box{
        width: 335px;
        height: 250px;
        margin-bottom: 15px;
        border-radius: 20px;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.10);
        position: relative;
    }
    .restaurant-container-img{
        width: 100%;
        height: 175px;
        display: flex;
        overflow: hidden;
        margin: 0;
    }
    .restaurant-img{
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .restaurant-name, .restaurant-location{
        margin: 0;
        color: black;
    }
    .restaurant-name{
        font-weight: 500;
        padding: 15px 0 5px 17px;
    }
    .restaurant-location{
        font-weight: 300;
        padding-left: 17px;
        letter-spacing: 0.5px;
    }
    .new{
        position: absolute;
        margin: -225px 0 0 237px;
        padding: 5px 10px 5px 10px;
        border-radius: 2px;
        color: #008766;
        background-color: $color-tertiary;
    }
    .btn-coeur{
        position: absolute;
        margin: -30px 0 0 280px;
    }
}